@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
        -ms-box-sizing: $type;
         -o-box-sizing: $type;
            box-sizing: $type;
}

* { @include box-sizing(); } /* make global */

img {
  display: block;
  position: relative;
  &[ng-click] {
    cursor: pointer;
    &:active {
      top: 2px;
    }
  }
}

.follower{
  list-style: none;
  margin: 0 5px 0 0;
  float: left;
}

.progress-bar {
  position: relative;
  border: 1px solid #CCC;
  width: 50%;
  height: 22px;
  .bar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #4099FF;
  }
  .info {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}